body {
    background: rgb(28, 27, 27);
    height: 100vh;
    overflow: hidden;
}

.error__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.error__container h1 {
    font-weight: bold;
    color: white;
    font-size: 15em;
    margin: 0;
}

.error__container h3 {
    color: white;
}